@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/*seletor{propriedade:valor;}*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(204, 170, 124);
}

header{
    width: 100%;
    height: 400px;
}

#banner{
    width: 100%;
    height: 400px;
}

nav{
    background-color: #410b46;
    text-align: center;
    padding: 10px;
}

a{
    font: 1.2rem 'Avenir', 'Lato', sans-serif;
    color:rgb(255, 151, 238);
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
}

.a-menu{
    margin-right: 30px;
    font-weight: bold;
}

.a-menu:link, a-menu:visited{
    color:rgb(160, 36, 197);
}

.a-menu:hover, a-menu:active{
    color:rgb(109, 15, 138);
}

article{
    width: 100%;
    background-color: blueviolet;
    padding: 20px;
    box-sizing: border-box;
}

h1{
    font: 3.5rem 'French Script MT', 'Dancing Script', cursive;
    color: #410b46;
    text-align: center;
    margin-bottom: 30px;
}

p{
    font: 1.2rem Avenir, Lato, sans-serif;
    color:rgb(36, 36, 35);
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 50px;
    line-height: 30px;
}

#meu-negrito{
    font-weight: bold;
}

section{
    padding: 20px;
}

h2{
    font: 3.5rem 'French Script MT', 'Dancing Script', cursive;
    color:rgb(0, 0, 0);
}

#pag-beneficios{
    background-color: antiquewhite;
    padding: 20px;
}

#pag-beneficios h2{
    background-color: aquamarine;
}

#pag-beneficios p{
    color:blanchedalmond;
    margin-top: 20px;
}

ul{
    list-style-type: disc;
    padding: 20px 50px;
}

li{
    font: 1.2rem 'Avenir', 'Lato', sans-serif;
    color:beige;
    margin-bottom: 10px;
}

#pag-tipos{
    background-color: #410b46;
    padding: 20px;
}

#container{
    display: flex;
    margin-top: 20px;
}

#pag-espaco{

}

#pag-espaco p{
    text-align: center;
    padding-bottom: 10px;
}

#container-espaco p{
    text-align: center;
    padding-bottom: 10px;
}

#container-espaco{
    display: flex;
    margin-top: 20px;
}

.colunas-espaco{
    padding: 40px;
}

.card{
    background-color: rgb(241, 207, 248);
    margin: 10px;
    width: 25%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px #CCCCCC;
}

.card:hover{
    box-shadow: 0px 8px 16px #CCCCCC;
}

.card-content{
    padding: 10px;
}

.card-content p{
    font: 1.2rem 'Avenir', 'Lato', sans-serif;
    line-height: 25px;
}

h3{
    font: 3rem 'French Script MT', 'Dancing Script', cursive;
    color: #795548;
    text-align: center;
    margin-bottom: 10px;
}

.img-tipos{
    width: 100%;
}

.img-icones{
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-right: 7px;
}

.container-contatos{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.container-contatos p{
    color: #000000;
    padding: 10px 20px 10px 5px;
}

video{
    width: 600px;
}

footer{
    background-color: #261300;
    padding: 10px;
}

footer p{
    text-align: center;
    color: #FFFFFF;
}

footer a{
    color:#FFFFFF;
    text-decoration: none;
}

footer a:hover, footer a:active{
    color: #FF5722;
}

#pag-agendamentos{

}

#pag-agendamentos p{
    text-align: center;
}

form{
    width: 520px;
    margin: 0 auto;
    background-color: #CCCCCC;
}

input, select, textarea{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
    box-sizing: border-box;
    border: 1px solid #795548;
    font: 1rem 'Avenir', 'Lato', sans-serif;
    background: none;
}

label, fieldset, input, select, textarea{
    font: 1rem 'Avenir', 'Lato', sans-serif;
}

fieldset{
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding: 10px;
}

textarea{
    height: 80px;
}

#data_hora_qtd{
    display: flex;
}

input[type="radio"], input[type="checkbox"]{
    width: 15px;
    height: 15px;
    margin-left: 50px;
}

#botoes-form{
    display: flex;
}

input[type="submit"], input[type="reset"]{
    margin: 20px;
    background-color: #8BC34A;
    color:#FFFFFF;
    border: 0;
    border-radius: 5px;
}

input[type="reset"]{
    background-color: #F47E7E;
}